@media screen and (min-width: 1024px) {
  main{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: calc(100vh -120px);
    max-width: 1024px;
    margin-inline: auto;
    min-height: fit-content;
  }
}