header{
    height: 80px;
    width: 100vw;
    background-color: var(--white);
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.nav-left-wrapper, .nav-right-wrapper{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 28px;
    height: 40px;
    /* font-weight: bold; */
}

.avatar-image-wrapper, .cart-icon-wrapper{
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--orange);
    padding: 2px;
    color: var(--white);
    font-size: .7em;
    width: 15px;
    height: 15px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.avatar-image{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 200ms;
}

.avatar-image:hover{
    border: 2px solid var(--orange);
}

.nav-list{
    display: none;
}

.sidebar{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black-transparent);
    z-index: 10;
    /* transition: 300ms ease-in-out; */
}

.sidebar-wrapper{
    background-color: var(--white);
    width: 60%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    gap: 50px;
}

.sidebar-list{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    list-style: none;
    gap: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.carts{
    position: absolute;
    width: calc(100% - 20px);
    max-width: 380px;
    min-height: fit-content;
    background-color: red;
    top: 90px;
    right: 10px;
    border-radius: 10px;
    background-color: var(--white);
    z-index: 4;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(80, 80, 80, 0.3);
}

.carts-heading{
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--grayish);
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

.cart-list{
    padding: 20px;
    padding-top: 0;
    list-style: none;
    width: 100%;
}

.cart-items{
    width: 100%;
}

.checkout{
    width: 100%;
    height: 50px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

.empty-cart{
    height: 190px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-heading{
    font-size: 16px;
    color: var(--dark);
}

.cart-map-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.cart-thumbnail{
    width: 50px;
    height: 50px;
}

.cart-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-text-wrapper{
    text-align: left;
    color: var(--dark);
}

.cart-text-wrapper strong{
    color: var(--black);
}

@media screen and (min-width: 1024px) {
    header{
        height: 100px;
        max-width: 1100px;
        margin: auto;
        border-bottom: 1px solid var(--grayish);
    }

    .carts{
        right: calc( (100vw - 1100px)/ 2);
    }

    nav{
        padding-block: 0;
    }

    .open-sidebar{
        display: none;
    }

    .nav-left-wrapper{
        gap: 50px;
        height: 100%;
    }

    .nav-right-wrapper{
        gap: 40px;
    }

    .nav-list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        list-style: none;
        text-transform: capitalize;
        color: var(--grayish);
        height: 100%;
    }

    .nav-list li{
        height: 100%;
        display: flex;
        transition: 200ms ease-in;
        align-items: center;
        cursor: pointer;
    }

    .nav-list li:hover{
        color: var(--dark);
        border-bottom: 2px solid var(--orange);
    }


    .avatar-image-wrapper{
        width: 40px;
    }

    .avatar-image{
        width: 100%;
    }
}