.product-wrapper{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}

.product-preview{
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--orange);
}

.product-heading{
    width: 100%;
    text-align: left;
    color: var(--very-dark);
    font-weight: 700;
    font-size: 30px;
}

.product-paragraph{
    width: 100%;
    text-align: left;
    color: var(--dark);
}